<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.juno.weatherreport.mapper.ForcastWeatherMapper">

	

	<resultMap id="ForcastWeatherModel"
		type="com.juno.weatherreport.model.ForcastWeatherWrapper">
		<result column="id" jdbcType="VARCHAR" property="city.id" />
		<result column="city_name" jdbcType="VARCHAR"
			property="city.name" />
		<result column="city_country" jdbcType="VARCHAR"
			property="city.country" />
		<result column="city_timezone" jdbcType="VARCHAR"
			property="city.timezone" />
		<collection property="list"
			ofType="com.juno.weatherreport.model.ForcastData">
			<!-- 定义这个集合中元素的封装规则 -->
			<result column="TEMP" jdbcType="FLOAT" property="temp" />
			<result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
			<result column="FEELS_LIKE" jdbcType="FLOAT" property="feels_like" />
			<result column="TEMP_MIN" jdbcType="FLOAT" property="temp_min" />
			<result column="TEMP_MAX" jdbcType="FLOAT" property="temp_max" />
		</collection>
	</resultMap>

	

	<select id="getForcastWeatherByCityId"
		resultMap="ForcastWeatherModel">
		select c.ID ,c.CITY_NAME , c.CITY_COUNTRY ,c.CITY_TIMEZONE,
		f.TEMP
		,f.DESCRIPTION ,f.FEELS_LIKE ,f.TEMP_MIN ,f.TEMP_MAX
		from CITY c
		left join FORCASTFIVEDAYSDATA f
		on c.id = f.cid
		where c.ID = #{id}
	</select>
	
	<insert id="syncForcastWeatherData" parameterType="com.juno.weatherreport.model.ForcastData" useGeneratedKeys="true">
		
		insert into FORCASTFIVEDAYSDATA (TEMP ,DESCRIPTION ,FEELS_LIKE ,TEMP_MIN ,TEMP_MAX ,DT_TXT, CID ) values
		<foreach collection="list" item="ForcastData" separator=",">
		 (
		 	#{ForcastData.temp},
		 	#{ForcastData.description},
		 	#{ForcastData.feels_like},
		 	#{ForcastData.temp_min},
		 	#{ForcastData.temp_max},
		 	#{ForcastData.dt_txt},
		 	#{ForcastData.cid}
		 )
		 </foreach>
	
	</insert>
	
	<update id="truncateData">
		truncate table ${tableName}
	</update>

</mapper>